@using rhcon.Models
@model List<acciones>
@{
    ViewBag.Title = "Panel 
    
    
    ";
    Layout = "~/Views/Shared/_LayoutCrud.cshtml";
}

<style>

    .col {
        padding: 10px 0;
        text-align:center;
    }

    .rectangulo {
        width: 100%;
        height: 100px;
        background: #D2D1D1;
        border-radius: 7px;
        padding: 40px;
        text-align: center;
        margin: 0;
    }


    .circulo-nivel {
        width: 25px;
        height: 25px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #ff7b08;
    }


    .descripcion {
        color: #1886f4;
        text-decoration-line: underline;
        padding-left: 10px;
        cursor: pointer;
        font-size: 11px;
    }

    .tooltipD {
        position: absolute;
        top: 10%;
        background-color: white;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 2px 4px;
        display: none;
        border-radius: 10px;
        transition: 2s ease;
        width: 350px;
    }

    .descripcion:hover ~ .tooltipD {
        display: block;
        transition: 1s ease;
    }

   /* select {
        width: 100%;
        border: 1.5px solid #CDCDCD;
        border-radius: 4px;
        color: #A9A7A7;
        padding: 10px 0;
    }*/

    .fecha {
        width: 90%;
        border: 1.5px solid #CDCDCD;
        border-radius: 4px;
        color: #A9A7A7;
        padding: 80px 0;
    }

    .contenido{
        text-align:center;
    }

    .titulo {
        font-weight: bold;
        font-size: 14px;
    }

    *{
        font-size:12px;
        text-align:center;
    }
    .info{
        padding:10px 25px;
    }

    .ver{
        display:flex;
        justify-content:center;
    

    }

    form{
        display:flex;
        justify-content:flex-start;
        margin-top:10px;
    }

    .content-tooltip{
        position:relative;
    }
</style>

<div class="container-fluid" style="margin-top:15px">
    <div class="row" style="text-align:center">
        <h4>Plan de Acción NOM-035-STPS-2018</h4>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
        <div class="col info">
            <div class="rectangulo"><p>@ViewBag.total Actividades</p></div>
        </div>
        <div class="col info">
            <div class="rectangulo"><p>@ViewBag.rel Realizadas</p></div>
        </div>
        <div class="col info">
            <div class="rectangulo"><p>@ViewBag.nrel Pendientes</p></div>
        </div>
        <div class="col info">
            <div class="rectangulo"><p>@ViewBag.porcentaje% Completado</p></div>
        </div>
    </div>


    @if (ViewBag.exist)
    {

        <div class="row row-cols-8" style="margin-top: 20px;  border-bottom: 2px solid #e0ded7">
            <div class="col"><p class="titulo"> Dimensión</p></div>
            <div class="col"><p class="titulo">Nivel de riesgo</p></div>
            <div class="col"><p class="titulo">Acción de mejora</p></div>
            <div class="col"><p class="titulo">Descripcion Detallada</p></div>
            <div class="col"><p class="titulo">Responsable</p></div>
            <div class="col"><p class="titulo">Fecha Compromiso</p></div>
            <div class="col"><p class="titulo">Status</p></div>
            <div class="col"><p class="titulo">Acciones</p></div>
        </div>
        foreach (var item in Model)
        {
            <div class="row row-cols-8" style="margin-top: 20px;  border-bottom: 2px solid #e0ded7">
                <div class="col">
                    <p class="contenido">
                        @item.dimension
                    </p>
                </div>
                <div class="col">
                    <p class="contenido">
                        @item.estado
                    </p>
                </div>
                <div class="col">
                    <p class="contenido">
                        @item.accion
                    </p>
                </div>
                <div class="col content-tooltip">
                    <span class="descripcion">ver descripción...</span>
                    <span class="tooltipD">
                        @item.medidasPrevencion;
                    </span>
                </div>
                <div class="col">
                    <p class="contenido">
                        @item.responsable
                    </p>
                </div>
                <div class="col">
                    <p class="contenido">
                        @item.date
                    </p>
                </div>
                <div class="col">
                    <p class="contenido">
                        @if (item.status.Value)
                        {
                            <span>Completado</span>
                        }
                        else
                        {
                            <span>No Completado</span>
                        }
                    </p>


                </div>
                <div class="col boton">
                    <div class="ver">
                        <a href="~/Empresa/ReporteAcciones" class="btn btn-primary">Ver</a>

                    </div>

                </div>
            </div>

        }

        using (Html.BeginForm("ExcelPlan", "Resultados", FormMethod.Post,
        new { enctype = "multipart/form-data" }))

        {
            <input type="submit" name="name" class="btn btn-success" value="Descargar Plan(Excel)" />
            <input type="hidden" name="year" value="2022" />
        }

    }





</div>