<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title RHcon</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/e4bc8339a1.js" crossorigin="anonymous"></script>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/style/crud.css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .grilla {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .end {
            justify-self: flex-end;
        }

        .center {
            justify-self: center;
        }
    </style>
</head>
<body>
    @{
        var oEmpresa = (rhcon.Models.ViewModel.EmpresaViewModel)Session["empresa"];
    }
    <div class="row" style="background-color: #E4E9F7; ">
        <div class="col-4">
            <img src="~/Assets/img/SVG/LOGO/rhlogo.png" alt="Alternate Text" class="log" />
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <h5>Empresa: "@oEmpresa.RazonSocial"</h5>
        </div>
        <div class="col-4 d-flex justify-content-end">
            @* agregar logo de la empresa *@
            @{
                if (Session["empresa"] != null)
                {


                    <img src="~/Assets/logos/@oEmpresa.strlogotipo" alt="Alternate Text" class="log" />
                }
            }
        </div>
    </div>


    @RenderBody()

    <div class="grilla" style="margin-bottom:40px;">
        <div></div>

        @*<div class="" >
                <a  style="float:right" href="~/Empresa/Perfil" class="btn btn-primary">Salir</a>
            </div>*@
    </div>
    <div class="foot" style="background-color:#E4E9F7 !important;">
        <a href="https://rhcon.com.mx/" target="_blank">
            <img src="~/Assets/logos/rh.png" alt="Alternate Text" class="log" />
        </a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerydatatables")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTablesBS5")
    @RenderSection("scripts", required: false)


</body>
</html>

