@using rhcon.Models.ViewModel
@{
    var oEmpresa = (EmpresaViewModel)Session["empresa"];
    var oEmpleado = (EmpleadoViewModel)Session["empleado"];
}

<style>
    * {
        font-family: 'Arial';
    }

    p {
        text-align: justify;
        margin: 0px 50px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

        .logo img {
            max-height: 120px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
        }

    .bienestar {
        margin-left: 50%;
    }
</style>
<div style="border:1px solid black;">
    <div class="logo">
        <img src="~/Assets/logos/bienestar.png" height="60" alt="Alternate Text" />
        <img src="~/Assets/logos/@oEmpresa.strlogotipo" style="float:right" class="bienestar" alt="Alternate Text" />
    </div>
    <h1 style="text-align:center; padding:20px 0;">Acuse</h1>
    <div>
        <p> <b>@oEmpleado.Nombre</b></p>
    </div>
    <br />
    <p>Se recibió su reporte de Acontecimiento Traumático Severo el día @DateTime.Now.ToString("dd/MM/yyy") declarado bajo protesta de decir verdad que:</p>
    <br />
    <p>No ha sido sujeto(a) a ningún Acontecimiento Traumático Severo Durante o por motivos de trabajo en la empresa @oEmpresa.RazonComercial;.</p>
    <br />
    <p>Por lo anterior se determina que no hay acciones de seguimiento de conformidad con la NOM-035-STPS-2018 por parte de la empresa @oEmpresa.RazonComercial</p>
    <br />
    <p>Te pedimos imprimir, firmar y subir tu informe para  ratificarlo.</p>
    <br />
    <p>
        Recuerda que tu participación, conducta y cumplimiento son fundamentales para mantener un entorno
        organizacional favorable, así como cumplir con tus obligaciones establecidas en las políticas.
    </p>
    <br />
    <p style="padding:0px; margin:0px; font-weight: bold; text-align:center;">Atentamente</p>
    <p style="padding:0px; margin:0px; text-align:center;">Comité de Bienestar Laboral</p>
    <p style="padding:0px; margin:0px; text-align:center; padding-bottom:50px;">@oEmpresa.RazonComercial</p>

</div>



