@using rhcon.Models.ViewModel
@model DataResultadosViewModel
<style>

    @@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

    * {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-align: justify;
        text-justify: auto;
    }


    .azul {
        background-color: #9ac5ed;
        fill: #9ac5ed;
    }


    .verde {
        background-color: #6bed4e;
        fill: #6bed4e;
    }

    .amarillo {
        background-color: #fff86b;
        fill: #fff86b;
    }

    .naranja {
        background-color: #e88a2c;
        fill: #e88a2c;
    }

    .rojo {
        background-color: #bd5151;
        fill: #bd5151;
    }

    .text-center {
        text-align: center !important;
    }

    .margin-top-20 {
        margin-top: 20px;
    }

    .margin-buttom-20 {
        margin-bottom: 20px;
    }

    .margin-left-20 {
        margin-left: 20px;
    }

    .margin-right-20 {
        margin-right: 20px;
    }

    padding-g {
        padding: 5px 10px;
    }

    .border-none {
        border: 1px solid white;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        text-align: center;
    }

    .contenedor{
        position:relative;
    }
    .valor{
        position:absolute;
        top:20px;
        width:100%;
        text-align:center;
        font-weight:bold;
    }

    .doble{
        padding:0 10px;
    }
    .cen {
        text-align: left;
        padding: 0 5px;
        box-sizing:border-box;
    }
</style>




<div>
    El presente informe se obtuvo de la aplicación del cuestionario de percepción de clima laboral y no discriminación
    apéndice normativo E, participaron @Model.total_encuesta personas de un total de @Model.total_empleados activos en el centro de trabajo/ Empresa.
</div>

<table class="border-none margin-top-20">
    <tr>
        <td style="width:25%;">

            <table class="">
                <tr>
                    <th class="padding-g">
                        NIVEL PERCEPCION DE
                        CLIMA LABORAL
                    </th>
                </tr>
                <tr class="azul">
                    <td class="text-center">EXCELENTE</td>
                </tr>
                <tr class="verde">
                    <td class="text-center">BUENO</td>
                </tr>
                <tr class="naranja">
                    <td class="text-center">REGULAR</td>
                </tr>
                <tr class="rojo">
                    <td class="text-center">MALO</td>
                </tr>
            </table>

        </td>
        <td>

            <table class="margin-left-20">
                <tr>
                    <th colspan="2">RESULTADOS GENERALES</th>
                    <th>NIVEL</th>
                </tr>
                <tr>
                    <td style="width:30%; padding:0 10px;"><b>Igualdad Laboral y no Discriminación</b></td>
                    <td style="padding:0 10px;">@Model.cabeceraVal.resultado_general.text</td>
                    <td>
                        <center style="position:relative;">
                            <p class="" style="text-align:center;">@Model.cabeceraVal.resultado_general.estado</p>
                            <svg height="60" width="80">
                                <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.resultado_general.color" />
                            </svg>
                        </center>
                    </td>
                </tr>
            </table>


        </td>
    </tr>
</table>


<table cellspacing="0" border="0.5" class="margin-top-20">

    <tr>
        <td class="" style="text-align:center;"  width="150"><b>Apartado de Referencia</b></td>
        <td class="tamano cen neg" style="text-align:center;" width="900"><b>Percepción</b></td>
        <td class="tamano cen neg" style="text-align:center;" with="30"><b>Nivel de percepción</b></td>

    </tr>


    <tr>
        <td class="cen" style="height:100px;"><p class="cen">Reclutamiento y Selección de Personal</p></td>
        <td class="doble">@Model.cabeceraVal.reclutamiento_seleccion_personas.text</td>
        <td class="contenedor">
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.reclutamiento_seleccion_personas.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.reclutamiento_seleccion_personas.color" />
                </svg>
            </center>
        </td>
    </tr>

    <tr>
        <td class="cen" style="height:100px;"><p class="cen">Formación y Capacitación</p></td>
        <td class="doble">@Model.cabeceraVal.formacion_capacitacion.text</td>
        <td class="contenedor">
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.formacion_capacitacion.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.formacion_capacitacion.color" />
                </svg>
            </center>
        </td>
    </tr>

    <tr>
        <td class="cen" style="height:100px;"><p class="cen">Permanencia y Ascenso</p></td>
        <td class="doble">@Model.cabeceraVal.permanencia_ascenso.text</td>
        <td class="contenedor">
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.permanencia_ascenso.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.permanencia_ascenso.color" />
                </svg>
            </center>
        </td>
    </tr>


    <tr>
        <td class="cen" style="height:100px;"><p class="cen">Corresponsabilidad en la Vida Laboral,<br> Familiar y Personal</p></td>
        <td class="doble">@Model.cabeceraVal.corresponsabilidad_vida_laboral_familiar.text</td>
        <td class="contenedor">
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.corresponsabilidad_vida_laboral_familiar.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.corresponsabilidad_vida_laboral_familiar.color" />
                </svg>
            </center>
        </td>
    </tr>

    <tr>
        <td class="cen" style="height:100px;"><p class="cen">Clima Laboral Libre de Violencia</p></td>
        <td class="doble">@Model.cabeceraVal.clima_laboral_violencia.text</td>
        <td class="contenedor">
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.clima_laboral_violencia.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.clima_laboral_violencia.color" />
                </svg>
            </center>
        </td>
    </tr>

    <tr>
        <td class="cen" style="height:100px;"><p class="cen">Acoso y Hostigamiento</p></td>
        <td class="doble">@Model.cabeceraVal.acoso_hostigamiento.text</td>
        <td class="contenedor">
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.acoso_hostigamiento.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.acoso_hostigamiento.color" />
                </svg>
            </center>
        </td>
    </tr>

    <tr>
        <td class="cen" style="height:100px;"><p class="cen">Accesibilidad </p></td>
        <td class="doble">  @Model.cabeceraVal.accesibilidad.text  </td>
        <td class="contenedor">
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.accesibilidad.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.accesibilidad.color" />
                </svg>
            </center>
        </td>
    </tr>


    <tr>
        <td><p class="cen">Respeto a la Diversidad</p></td>
        <td>@Model.cabeceraVal.respeto_diversidad.text</td>
        <td class="contenedor">
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.respeto_diversidad.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.respeto_diversidad.color" />
                </svg>
            </center>
        </td>
    </tr>



    <tr>
        <td><p class="cen">Condiciones Generales de Trabajo</p></td>
        <td>@Model.cabeceraVal.condiciones_generales_trabajo.text</td>
        <td>
            <center style="position:relative;">
                <p class="valor">@Model.cabeceraVal.condiciones_generales_trabajo.estado</p>
                <svg height="60" width="80">
                    <circle cx="40" cy="30" r="25" stroke-width="3" class="@Model.cabeceraVal.condiciones_generales_trabajo.color" />
                </svg>
            </center>
        </td>
    </tr>

</table>






